:root {
    --secondary-color: rgb(40 44 52);
    --primary-color: rgb(62 68 81);
    --accent-color: rgb(52 48 40);
    --main-text: rgb(234 234 234);

}

* {
    padding: 0px;
    margin: 0px;
}

body, html, #root, .content {
    height: 100%;
}

body {
    background-color: var(--primary-color);
    color: var(--main-text);
}

.content {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    background-color: var(--secondary-color);
    font-size: 2rem;
    text-align: center;
    padding: 0.4rem 0;
}

footer {
    text-align: center;
    background-color: var(--secondary-color);
    font-size: 1.2rem;
    padding: 0.3rem 0;
}

.scores {
    display: flex;
    gap: 2rem;
    justify-content: center;
    font-size: 1.6rem;
    color: rgb(56, 56, 56);
    font-weight: 550;
    padding: 1.3rem 0;
}

.scores * {
    border-radius: 12px;
    padding: 2px 8px;
}

.scores .best {
    background-color: rgb(255, 181, 181);
}

.scores .current {
    background-color: rgb(181, 255, 181);
}

.cards {
    max-width: 60rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.3rem;
}

img {
    width: 192px;
    height: auto;
}

.card {
    border: 2px solid var(--secondary-color);
    border-radius: 12px;
    text-align: center;
    font-weight: 600;
    transition: all .1s ease-in-out;
}

.card:hover {
    transform: scale(1.1);
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
}