:root {
    --secondary-color: rgb(40 44 52);
    --primary-color: rgb(62 68 81);
    --accent-color: rgb(52 48 40);
    --main-text: rgb(234 234 234);

}

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: var(--primary-color);
    color: var(--main-text);
}

header {
    background-color: var(--secondary-color);
    font-size: 2rem;
    text-align: center;
    padding: 0.4rem 0;
}

footer {
    text-align: center;
    background-color: var(--secondary-color);
}

.scores {
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

img {
    width: 192px;
    height: auto;
}

.card {
    border: 2px solid red;
    text-align: center;
}